@* Skeleton loading placeholder with shimmer wave animation *@

@switch (Variant)
{
    case SkeletonVariant.Text:
        <div class="fc-skel fc-skel-text" style="--skel-w: @Width" aria-hidden="true"></div>
        break;

    case SkeletonVariant.TextLarge:
        <div class="fc-skel fc-skel-text-lg" style="--skel-w: @Width" aria-hidden="true"></div>
        break;

    case SkeletonVariant.Heading:
        <div class="fc-skel fc-skel-text-xl" style="--skel-w: @Width" aria-hidden="true"></div>
        break;

    case SkeletonVariant.Circle:
        <div class="fc-skel fc-skel-circle" style="--skel-w: @Size; --skel-h: @Size" aria-hidden="true"></div>
        break;

    case SkeletonVariant.Block:
        <div class="fc-skel fc-skel-block" style="--skel-w: @Width; --skel-h: @Height" aria-hidden="true"></div>
        break;

    case SkeletonVariant.Card:
        <div class="fc-skel-card" aria-hidden="true">
            <div class="fc-skel fc-skel-block" style="--skel-h: 140px"></div>
            <div class="fc-skel-card-body">
                <div class="fc-skel fc-skel-text-lg" style="--skel-w: 70%"></div>
                <div class="fc-skel fc-skel-text" style="--skel-w: 90%"></div>
                <div class="fc-skel fc-skel-text" style="--skel-w: 50%"></div>
            </div>
        </div>
        break;

    case SkeletonVariant.TableRows:
        <div aria-hidden="true">
            @for (int i = 0; i < RowCount; i++)
            {
                <div class="fc-skel-list-row">
                    <div class="fc-skel fc-skel-text" style="--skel-w: 15%"></div>
                    <div class="fc-skel fc-skel-text" style="--skel-w: 25%"></div>
                    <div class="fc-skel fc-skel-text" style="--skel-w: 20%"></div>
                    <div class="fc-skel fc-skel-text" style="--skel-w: 15%"></div>
                    <div class="fc-skel fc-skel-text" style="--skel-w: 10%"></div>
                </div>
            }
        </div>
        break;
}

@code {
    [Parameter] public SkeletonVariant Variant { get; set; } = SkeletonVariant.Text;
    [Parameter] public string Width { get; set; } = "100%";
    [Parameter] public string Height { get; set; } = "100px";
    [Parameter] public string Size { get; set; } = "40px";
    [Parameter] public int RowCount { get; set; } = 5;

    public enum SkeletonVariant
    {
        Text,
        TextLarge,
        Heading,
        Circle,
        Block,
        Card,
        TableRows
    }
}
